.header
    min-height: 1100px
    background: url('../img/Group_13-min.png') center (center / cover) no-repeat
    &__container
        width: 1140px
        margin: 0 auto
    &__top
        display: flex
        justify-content: space-between
        padding-top: 25px
    &__menu
        margin-top: 9px
        margin-left: 100px
        display: flex
        list-style-type: none
        width: 400px
        justify-content: space-between
    &__link
        font-weight: 400
        font-size: 15px
        line-height: 17px
        color: #FFFFFF
        &:hover
            color: #fff
    &__login
        display: flex
        width: 210px
        justify-content: space-between
    &__btn
        width: 140px
        height: 43px
        border-radius: 25px
        border:2px #fff solid
        color: #fff
        background-color: rgba(205, 214, 219, 0)
        transition: 0.3s all
        &:hover
            transition: 0.3s all
            transform: scale(1.05)
    &__log
        margin-top: 13px
        font-size: 15px
        line-height: 17px
        color: #FFFFFF
        &:hover
            color: #fff
    &__descr
        margin-top: 190px
        display: grid
        grid-template-columns: repeat(2, auto)
        column-gap: 50px
    &__text
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 135.9%
        color: #FFFFFF

    &__items
        position: relative
        margin-top: 30px
        display: flex
        justify-content: space-between
    &__item-wrap
        width: 105px
        height: 105px
        border-radius: 35px
        transform: rotate(45deg)
        background: #fff
    &__item-rund
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        width: 80px
        height: 80px
        border-radius: 50%
        background: #59CDFF
    #rund__2
        background: #0C81EB
    #rund__3
        background: #4096FC
    &__item-img
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(-45deg)
    &__item-descr
        position: relative
        margin-top: 20px
        font-weight: 600
        text-align: center
        line-height: 20px
        font-size: 15px
        color: #FFFFFF
        align-items: center
    #item-descr
        position: absolute
    &__wrapper
        display: grid
        grid-template-columns: 450px auto
        justify-content: space-between
    &__form
        margin-top: 65px
        position: relative
        input
            width: 350px
            height: 60px
            border-radius: 50px
            padding-right: 100px
            padding-left: 20px
            border: none
        &-btn 
            position: absolute
            right: 50px
            width: 140px
            height: 60px
            border-radius: 50px
            background-color: #1781FF
            border: none
            color: #fff




    
